<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../static/src/title.js"></script>
  <link rel="stylesheet" href="../static/src/title.css">
  <title>Title</title>
  <script>
      function nextPage() {
          window.location.href = "PredictApp";
      }
  </script>
</head>
<body onclick="nextPage()"></body>

<div id="fly-in">  
  <div><span>マジ</span>すごい</div>
  <div><span>未来の</span>救急需要が</div>
  <div><span>一目で </span>わかる</div>
  <div><span>神戸市救急需要可視化ツール</span></div>
  <div><span>クリックして</span>始めよう</div>

  </div>
    
</body>
</html>